body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #0056b3;
}

.navbarmob {
    display: none;
}
header h1{
    display: none;
    background-color: #ffffff;
    color: #0056b3;
    padding: 10px 20px;
    text-align: center;
    margin: 0;
}
nav {
    width: 100%;
    height: 5%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.navbarpc {
    padding: 1rem;
}

.current {
    border-bottom: 2px solid #0056b3;
}

.navbarmob a {
    font-size: 1.3rem;
}

#details {
    padding: 20px;
}

.locations-container {
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
 
}

.locations-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); 
    gap: 10px;
    padding: 0;
    list-style: none;
    margin: 0;
}

.location-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.location-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.location-card h3 {
    margin: 10px;
    font-size: 16px;
    color: #333;
}


@media only screen and (max-width: 640px) {
    header h1{
        display: block;
    }
    .navbarpc {
        display: none;
    }

    .navbarmob {
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
}


.day-btn {
    margin-left: 5px;
    padding: 3px 6px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .day-btn:hover {
    background-color: #0056b3;
  }
  
  .has-events {
    background-color: #f0f8ff;
    border: 1px solid #007BFF;
  }
  
  