body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #0056b3;
}

.current{
    border-bottom: 2px solid #0056b3;
}

.navbarmob{
display: none;
}
nav{
    width: 100%;
    height: 5%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#sidebar {
    min-width: 90px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar button {
    margin: 1rem 0;
    border-radius: .3rem;
    padding: 1rem;
}
.navbarmob a{
    font-size: 1.3rem;
}

.category-icons {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #58c736;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

button.active {
    background-color: #0056b3;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
}

.locations-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 20px;
    width: 95%;
}

.locations-list {
    display: flex;
    gap: 10px;
}

.location-card {
    flex: 0 0 auto;
    width: 200px;
    height: 180px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.location-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.location-card h3 {
    margin: 10px;
    font-size: 16px;
    color: #333;
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-height: 60%;
}

.details {
    display: none;
    width: 100%;
    padding: 20px 10px;
    font-size: 1.2rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 10px;
}

.btns {
    width: 80%;
    flex: 2;
}

.descript {
    width: 50%;
    flex: 2;
}

.details img {
    width: 70%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    border-radius: .3rem;
}

#map {
    width: 100%;
    margin-left: 20px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.leaflet-routing-container {
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 250px;
}

#toggle-route-btn {
    display: none;
}

.detailbtn {
    color: #fff;
    background-color: #16b4cf;
    border: none;
    border-radius: .5rem;
}

.navi {
    display: none;
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 999;
}

.back {
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 999;
}

.location-card .save {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.location-card:hover .save {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.leaflet-bottom{
    display: none;
}

@media(max-width:900px) {
    #sidebar {
        min-width: 70px;
    }
    
.details img {
    width: 90%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}  
}

@media only screen and (max-width: 640px) {
    .navbarpc{
        display: none;
        }
    .navbarmob{
        display: flex;
        position: absolute;
        bottom: 0;
        z-index: 999;
    } 
    .main-content {
        padding: 20px 0;
    }

    .locations-container {
        width: 85%;
    }

    #sidebar {
        position: fixed;
        width: 100%;
        height: 15%;
        bottom: 10%;
        z-index: 997;
        overflow-x: auto;
        overflow-y: hidden;
        background-color: #fff;
        box-sizing: border-box;
        padding: 0;
    }

    #sidebar button {
        padding: 1rem;
    }

    .category-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1rem;
        padding: 0;
        box-sizing: border-box;
        width: auto;
    }

    .details-container {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        min-height: 48%;
        max-height: 50%;
    }

    .leaflet-routing-container {
        width: 100px;
    }

    .details {
        width: 100%;
    }

    .descript {
        width: 100%;
    }

    #map {
        margin: 0;
    }

    .leaflet-top {
        top: 65% !important;
    }

    .leaflet-routing-container {
        font-size: 17px;
        width: 100% !important;
        height: 125px !important;
        text-wrap: wrap;
    }

    .back {
        display: none;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 999;
    }

    .navi {
        display: none;
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: 999;
    }
}